@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap);
@media screen{
  .page-not-found{
    height: 100%;
    position: relative;
    color: white;
    text-transform: uppercase;
    margin: 0;
    .back-to-home{
      position: absolute;
      top: 20px;
      left: 20px;
      color: white;
      font-weight: normal;
      font-size: 14px;
      text-transform: uppercase;
      .far{
        transition: 0.3s;
      }
      &:hover{
        text-decoration: none;
        .far{
          margin-right: 10px;
        }
      }
    }
    h1{
      color: rgba(255, 255, 255, 1);
      font-family: "Sen", sans-serif;
      font-weight: bold;
      font-size: 120px;
      line-height: 120px;
      margin: 0 0 20px;
      @media (min-width: 992px){
        line-height: 250px;
        font-size: 250px;
        margin: 0;
      }
    }
    p{
      font-family: "Open Sans";
      font-weight: bold;
      font-size: 30px;
      line-height: 35px;
      color: rgba(0, 0, 0, 0.2);
      @media (min-width: 480px){
        font-size: 40px;
        line-height: 45px;
      }
      @media (min-width: 992px){
        font-size: 80px;
        line-height: 80px;
      }
    }
  }
}