@media screen{
  .archive-wrapper{
    .post-item{
      margin-bottom: 30px;
      .featured-image{
        margin-bottom: 10px;
      }
      .post-title{
        font-size: 24px;
        font-weight: bold;
        margin: 0;
        a{
          color: $main-colour;
          transition: 0.3s;
          &:hover{
            text-decoration: none;
          }
        }
      }
      .post-author{
        margin-top: 5px;
        margin-bottom: 15px;
        font-size: 12px;
        strong{
          color: $main-colour;
        }
      }
      .post-content{
        font-size: 14px;
        line-height: 26px;
        font-weight: normal;
      }
      .read-more{
        margin-top: 15px;
        display: inline-block;
        color: white;
        font-size: 12px;
        text-transform: uppercase;
        font-weight: bold;
        background-color: $main-colour;
        transition: 0.3s;
        text-decoration: none;
        padding: 10px 30px;
      }
    }
    .post-pagination{
      border: 1px solid black;
      display: inline-block;
      font-size: 0;
      .page-numbers{
        display: inline-block;
        border-right: 1px solid black;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 12px;
        line-height: 12px;
        color: black;
        vertical-align: middle;
        &:last-child{
          border-right: 0;
        }
        &.current{
          background-color: $main-colour;
          color: white;
        }
      }
    }
  }
}