@media screen{
  /*html & body*/
  html, body{
    height: 100%;
    font-family: $main-font;
  }
  body{
    display: flex;
    flex-direction: column;
  }

  /*bootstrap container*/
  .container{
    @media (min-width: 576px) and (max-width: 767px){
      max-width: 100%;
    }
  }

  /*main-wrapper*/
  #main-wrapper{
    flex: 1 0 auto;
    position: relative;
  }

  /*footer*/
  #footer{
    flex-shrink: 0;
  }
}